

body {
    font-size: 14px!important;
    
}
.nowrap {
    white-space: nowrap;
}
.login-card1 {
   width: 32%;
    margin: auto;
    padding: 17px;
  
  
    box-shadow: 0px 0px 5px 1px #0000008c;
    border-radius: 5px;
    
}
.lo_ginn{
    position: relative;
    /*background-image:url('http://www.delhibusiness.in/design/clients/SWARMAHATI/img/slide/bg.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
}

.lo_ginn::before {
content: "";
    display: block;
    position: fixed;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
 
    background-color: #575378a3;
}



.table-responsive::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.table-responsive::-webkit-scrollbar{
	-webkit-width: 10px !important;
	height:8px;
	background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#575378),
									   to(#575278),
									   color-stop(.6, #575118))
}


table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 0!important;
    content: "↑";
}

.ad_row input {
    width: 100%!important;
    margin: 0!important;
}
.required_inp.ad_row {
    display: flex;gap: 24px;
}
.form-control .w100{
    width:100%;
}
.w20{
    width:20%;
}
.w40{
    width:50%;
}
.w30{
    width:30%;
}